{% extends 'base.html.twig' %}

{% block title %}Edit Klienci{% endblock %}

{% block body %}

    <h1>Edytuj dane klienta</h1>



{{ include('klienci/_form.html.twig', {'button_label': 'Zmień'}) }}
{{ include('klienci/_delete_form.html.twig') }}
     <a class="btn btn-primary" href="{{ path('app_klienci_index')}}" role="button">Wróć do listy</a>


{% endblock %}
