{% extends 'base.html.twig' %}

{% block title %}New Klienci{% endblock %}

{% block body %}
    <h1>Create new Klienci</h1>

    {{ include('klienci/_form.html.twig') }}

    <a href="{{ path('app_klienci_index') }}">back to list</a>
{% endblock %}
