{% extends 'base.html.twig' %}

{% block title %}Zapisy{% endblock %}

{% block body %}
    <h1>Zapisz się!</h1>

    {{ include('klienci/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_klienci_index')}}" role="button">Wróć do listy</a>
{% endblock %}
